<!-- Start Footer -->
<footer class="footer-area">
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="company-name">Lưu Thanh Vân - B1709639</p>
					<p class="company-name">Liên hệ: +84857333039. Email: thanhvanluu.3199@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->
