<div id="header">
    <div id="btn">
        <button id="btn-sign-in">Đăng nhập</button>
        <button id="btn-sign-up">Đăng ký</button>
    </div>
    <div id="navBar">
        <ul>
            <li><a>Trang chủ</a></li>
            <li><a>Giới thiệu</a></li>
            <li><a>Liên hệ</a></li>
        </ul>
    </div>
</div>