body {
    background-image: url("/images/bg-5.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

// #header{
//     border: 1px solid blue;
// }

#header #btn{
    // border: 1px solid yellow;
    float: right;
}

#header #navBar{
    clear: right;
}

#sign-in{
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
}

#sign-in table{
    padding: 10px;
    width: 700px;
    margin: 0 auto;
}

#sign-in table tr td{
    padding: 10px;
}

#sign-in label, #sign-up label{
    font-size: 20px;
}

#name input, #pw input{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#sign-in #btn-sign-in, #sign-up #btn-sign-up{
    text-align: center;
}

#sign-in #btn-sign-in input, #sign-up #btn-sign-up input{
    font-size: 18px;
    height: 40px;
    margin-top: 10px;
}

#sign-up #btn-sign-up input{
    margin-bottom: 30px;
}

#sign-up{
    background-color: white;
    width: 900px;
    margin: 0 auto;
    opacity: 0.9;
    border-radius: 5px;
}

#sign-up h2{
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
}

#sign-up div{
    margin: 25px;
}

#sign-up #gender input{
    margin-left: 28px;
}

#sign-up select{
    margin-left: 20px;
}

#sign-up #fullname #firstname{
    float: left;
    margin-left: 0;
}

#sign-up #fullname #lastname{
    float: right;
}

#sign-up #fullname #firstname input, #sign-up #fullname #lastname input{
    width: 300px;
    padding: 5px;
    font-size: 18px;
}

#sign-up #gender{
    clear: both;
}

#sign-up #address input{
    padding: 5px;
    font-size: 18px;
}

#sign-up #address .child1{
    float: left;
}

#sign-up #address .child2{
    float: right;
}

.txtInput{
    width: 500px;
    padding: 5px;
    font-size: 18px;
}
