<div class="container-2">
    <div>
        <form class="form" action="#" method="GET">
            <div class="menu">
                <ul>
                    <li><a href="/manage/dest">Thêm địa điểm</a></li>
                    <li><a href="/manage/editDest">Sửa địa điểm</a></li>
                    <li><a href="/manage/deleteDest">Xóa địa điểm</a></li>
                </ul>
            </div>
            <div id="destInfo">
                <h3>Xóa địa điểm tham quan</h3>
                <table border="1">
                    <tr>
                        <th>Mã địa điểm</th>
                        <th>Tên địa điểm</th>
                        <th>Chọn</th>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>abc</td>
                        <td><input type="checkbox"/></td>
                    </tr>
                </table>
                <input type="submit" value="Xóa"/>
            </div>
        </form>
    </div>
</div>
