<div class="container-2">
    <div>
        <form class="form" action="/manage/tour/add" method="POST">
            <div class="menu">
                <ul>
                    <li><a href="/manage/tour">Thêm tour</a></li>
                    <li><a href="/manage/editTour">Sửa tour</a></li>
                    <li><a href="/manage/deleteTour">Xóa tour</a></li>
                </ul>
            </div>
            <div id="tourInfo">
                <h3>Xóa thông tin tour</h3>
                <table border="1">
                    <tr>
                        <th>Mã tour</th>
                        <th>Tên tour</th>
                        <th>Thời gian đi</th>
                        <th>Chọn</th>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>abc</td>
                        <td>01/01/2020</td>
                        <td><input type="checkbox"/></td>
                    </tr>
                </table>
                <input type="submit" value="Xóa"/>
            </div>
        </form>
    </div>
</div>
