<div class="container-2">
    <div>
        <div class="menu">
            <ul>
                <li><a href="/manage/dest">Thêm địa điểm</a></li>
                <li><a href="/manage/editDest">Sửa địa điểm</a></li>
                <li><a href="/manage/deleteDest">Xóa địa điểm</a></li>
            </ul>
        </div>
        <div id="destInfo">
            <h3>Danh sách địa điểm tham quan</h3>
            <table border="1">
                <tr>
                    <th>Mã địa điểm</th>
                    <th>Tên địa điểm</th>
                    <th>Địa chỉ</th>
                    <th>Mô tả</th>
                </tr>
                <tr>
                    <td>123</td>
                    <td>abc</td>
                    <td>abc</td>
                    <td>abc</td>
                </tr>
            </table>
        </div>
    </div>
</div>
