<!-- Start header -->
<div id="slides" class="cover-slides">
	<div class="container">
		<div class="col-md-12 text-center">
			<h1 class="m-b-20"><strong>Welcome to <br>WORLD TRAVEL</strong></h1>

			<!-- Input fields -->
			<form action='/search' method="POST">
				<div class="input-group m-b-40 input-container">
					<input name="destAddress" type="search" class="form-control form-control-lg rounded-pill" placeholder="Nhập địa điểm cần tìm kiếm"/>
					<div>
						<input id="btn-search" type="submit" class="btn btn-lg btn-circle btn-outline-new-white rounded-pill" value="Tìm kiếm">
					</div>
				</div>
			</form>
			<!-- End input fields -->
		</div>
	</div>
</div>
<!-- End header -->

<!-- Start Menu -->
<div class="menu-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Danh sách Tour</h2>
				</div>
			</div>
		</div>

		<div class="row special-list">
			{{#each tourInfo}}
			<div class="col-lg-4 col-md-6 special-grid drinks">
				<div class="gallery-single fix">
					<img src="{{this.dest_image}}" class="img-fluid" alt="Image">
					<div class="text">
						<p>{{this.tour_name}}</p>
						<h4>{{this.tour_price}} đ</h4>
						<p><a class="btn btn-sm btn-circle btn-outline-new-white" href="/tourDetails?tourId='{{this.tour_id}}'">Chi tiết tour</a></p>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
<!-- End Menu -->
