<!-- Start Menu -->
{{#each tourInfo}}
<div class="row">
    <div class="col-md-2">
        <img src="{{this.dest_image}}" alt="image" width="120" height="100">
    </div>
    <div class="col">
        <h5>{{this.tour_name}}</h5>
        <h5>{{this.tour_price}} đ</h5>
        <p><a class="btn btn-info" href="/tourDetails?tourId='{{this.tour_id}}'">Chi tiết tour</a></p>
    </div>
</div>
{{/each}}
<!-- End Menu -->
