<form id="sign-in" action="" method="POST">
    <table>
       <tr id="name">
            <td><label>Tên đăng nhập</label></td>
            <td><input type="text" name="username"/></td>
            <td><p></p></td>
        </tr>
        <tr id="pw">
            <td><label>Mật khẩu</label></td>
            <td><input type="password" name="password"/></td>
            <td><p></p></td>
        </tr>
        <tr id="btn-sign-in">
            <td colspan="3"><input type="submit" value="Đăng nhập"/></td>
        </tr>
    </table>    
</form>