<div class="container-sm">
    <!-- onsubmit="return validateSignupForm()" -->
    <form name="signupForm" action="/sign-up/handleSignup" method="POST" onsubmit="return validateSignupForm()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input class="form-control" type="text" name="username"/>
                    <p id="usernameErr" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password1"/>
                    <p id="password1Err" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input class="form-control" type="password" name="password2"/>
                    <p id="password2Err" class="errorMessage"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input class="form-control" type="text" name="fullname"/>
                    <p id="fullnameErr" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" name="phoneNumber"/>
                    <p id="phoneNumErr" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="gender">
                        <option value="0" selected>Nữ</option>
                        <option value="1">Nam</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" name="address">
                    <p id="addressErr" class="errorMessage"></p>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <legend class="col-form-label pt-0">Ngày sinh</legend>
                    <div class="row">
                        <div class="col" id="selectDay"></div>
                        <div class="col" id="selectMonth"></div>
                        <div class="col" id="selectYear"></div>
                    </div>
                </fieldset>
            </div>

            <!-- handle display list of days, months, years -->
            <script>
                let optionsDay = "<select class='form-control' id='day' name='day'>";
                optionsDay += "<option>Ngày</option>";
                for(let day = 1; day <= 31; day++){
                    optionsDay += `<option value=${day}>${day}</option>`;
                }
                optionsDay += "</select>";
                optionsDay += "<p id='dayErr' class='errorMessage'></p>";

                let optionsMonth = "<select class='form-control' id='month' name='month'>";
                optionsMonth += "<option>Tháng</option>";
                for(let month = 1; month <= 12; month++){
                    optionsMonth += `<option value=${month}>${month}</option>`;
                }
                optionsMonth += "</select>";
                optionsMonth += "<p id='monthErr' class='errorMessage'></p>";

                let currentYear = new Date().getFullYear(); // get the current year
                let optionsYear = "<select class='form-control' id='year' name='year'>";
                optionsYear += "<option>Năm</option>";
                for(let year = currentYear; year >= currentYear-70; year--){
                    optionsYear += `<option value=${year}>${year}</option>`;
                }
                optionsYear += "</select>";
                optionsYear += "<p id='yearErr' class='errorMessage'></p>";

                document.getElementById("selectDay").innerHTML = optionsDay;
                document.getElementById("selectMonth").innerHTML = optionsMonth;
                document.getElementById("selectYear").innerHTML = optionsYear;
            </script>
        </div>

        <!-- user account: role = 0  ==== admin account: role = 1 -->
        <input type="hidden" name="role" value="0"/>

        <input class="btn btn-primary" type="submit" value="Đăng ký"/>
    </form>
</div>
