<div class="container-sm">
    <form name="signupForm" action="/sign-up/handleSignup" method="POST" onsubmit="return validateSignupForm()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input class="form-control" type="text" name="username" onchange="return existedUser(this.value)"/>
                    <p id="usernameErr" class="errorMessage"></p>
                    <p id="usernameExisted" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password1"/>
                    <p id="password1Err" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input class="form-control" type="password" name="password2"/>
                    <p id="password2Err" class="errorMessage"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input class="form-control" type="text" name="fullname"/>
                    <p id="fullnameErr" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" name="phoneNumber"/>
                    <p id="phoneNumErr" class="errorMessage"></p>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="gender">
                        <option value="0" selected>Nữ</option>
                        <option value="1">Nam</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" name="address">
                    <p id="addressErr" class="errorMessage"></p>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <legend class="col-form-label pt-0">Ngày sinh</legend>
                    <div class="row">
                        <div class="col" id="selectDay"></div>
                        <div class="col" id="selectMonth"></div>
                        <div class="col" id="selectYear"></div>
                    </div>
                </fieldset>
            </div>

            <!-- handle display list of days, months, years -->
            <script>
                let optionsDay = "<select class='form-control' id='day' name='day'>";
                optionsDay += "<option>Ngày</option>";
                for(let day = 1; day <= 31; day++){
                    optionsDay += `<option value=${day}>${day}</option>`;
                }
                optionsDay += "</select>";
                optionsDay += "<p id='dayErr' class='errorMessage'></p>";

                let optionsMonth = "<select class='form-control' id='month' name='month'>";
                optionsMonth += "<option>Tháng</option>";
                for(let month = 1; month <= 12; month++){
                    optionsMonth += `<option value=${month}>${month}</option>`;
                }
                optionsMonth += "</select>";
                optionsMonth += "<p id='monthErr' class='errorMessage'></p>";

                let currentYear = new Date().getFullYear(); // get the current year
                let optionsYear = "<select class='form-control' id='year' name='year'>";
                optionsYear += "<option>Năm</option>";
                for(let year = currentYear; year >= currentYear-70; year--){
                    optionsYear += `<option value=${year}>${year}</option>`;
                }
                optionsYear += "</select>";
                optionsYear += "<p id='yearErr' class='errorMessage'></p>";

                document.getElementById("selectDay").innerHTML = optionsDay;
                document.getElementById("selectMonth").innerHTML = optionsMonth;
                document.getElementById("selectYear").innerHTML = optionsYear;
            </script>
        </div>

        <!-- user account: role = 0  ==== admin account: role = 1 -->
        <input type="hidden" name="role" value="0"/>

        <input class="btn btn-primary" type="submit" value="Đăng ký"/>
    </form>

    <script>
        var checked = false;

        function validateSignupForm(){
            let username = document.forms["signupForm"]["username"].value;
        	let password1 = document.forms["signupForm"]["password1"].value;
        	let password2 = document.forms["signupForm"]["password2"].value;
        	let fullname = document.forms["signupForm"]["fullname"].value;
            let phoneNumber = document.forms["signupForm"]["phoneNumber"].value;
            let address = document.forms["signupForm"]["address"].value;
            let day = document.getElementById("day");
            let month = document.getElementById("month");
            let year = document.getElementById("year");

            let reUsername = /^[A-Za-z][A-Za-z0-9]{6,15}$/;
            let rePassword = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,24}$/;

            if(username.length == 0){
                document.getElementById("usernameErr").innerHTML = "* Trường Tên đăng nhập không được bỏ trống.";
                checked = true;
            }
            else if(!username.match(reUsername)){
        		document.getElementById("usernameErr").innerHTML = "* Tên đăng nhập: bắt đầu phải là chữ cái, theo sau có thể là chữ cái hoặc là số; dài từ 6 đến 15 ký tự.";
        		checked = true;
        	}

            if(password1.length == 0){
                document.getElementById("password1Err").innerHTML = "* Trường Mật khẩu không được bỏ trống.";
                checked = true;
            }
            else if(!password1.match(rePassword)){
        		document.getElementById("password1Err").innerHTML = "* Mật khẩu: phải có ít nhất 1 chữ số; ít nhất một kí tự thường và hoa; phải chứa kí tự đặc biệt và có độ dài từ 8 đến 24 kí tự. Ví dụ: Plqkwx@0111";
        		checked = true;
        	}

            if(password2.length == 0){
                document.getElementById("password2Err").innerHTML = "* Trường Nhập lại mật khẩu không được bỏ trống.";
                checked = true;
            }

            if(password1 != password2){
        		document.getElementById("password2Err").innerHTML = "* Hai mật khẩu phải khớp nhau.";
        		checked = true;
        	}

            if(fullname.length == 0){
                document.getElementById("fullnameErr").innerHTML = "* Trường Họ và tên không được bỏ trống.";
                checked = true;
            }

            if(phoneNumber.length == 0){
                document.getElementById("phoneNumErr").innerHTML = "* Trường Số điện thoại không được bỏ trống.";
                checked = true;
            }
            else if(!phoneNumber.match(/^[0-9]{10}$/)){
                document.getElementById("phoneNumErr").innerHTML = "* Trường Số điện thoại không được chứa chữ cái hoặc ký tự đặc biệt và có độ dài tối đa là 10 chữ số.";
                checked = true;
            }

            if(address.length == 0){
                document.getElementById("addressErr").innerHTML = "* Trường Địa chỉ không được bỏ trống.";
                checked = true;
            }

            if(!selectedItem(day.options)){
                document.getElementById("dayErr").innerHTML = "* Vui lòng chọn Ngày sinh.";
                checked = true;
            }

            if(!selectedItem(month.options)){
                document.getElementById("monthErr").innerHTML = "* Vui lòng chọn Tháng sinh.";
                checked = true;
            }

            if(!selectedItem(year.options)){
                document.getElementById("yearErr").innerHTML = "* Vui lòng chọn Năm sinh.";
                checked = true;
            }

            return !checked;
        }

        // using ajax to communicate with server
        function existedUser(username){
            console.log(username);
            if(username.length == 0){
                document.getElementById("usernameExisted").innerHTML = "";
                return false;
            }

            var xmlHTTP;
            if(window.XMLHttpRequest){ // code for modern browsers: IE7+, Firefox, Chrome, Opera, Safari
                xmlHTTP = new XMLHttpRequest();
            }
            else{ // code for old IE browsers: IE5, IE6
                xmlHTTP = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlHTTP.onreadystatechange = function(){
                if(xmlHTTP.readyState == 4 && xmlHTTP.status == 200){
                    console.log(xmlHTTP.responseText);
                    document.getElementById("usernameExisted").innerHTML = xmlHTTP.responseText;
                    if(xmlHTTP.responseText.length != 0){
						console.log("Error!!");
						checked = true;
					}
					else{
						checked = false;
					}
                }
            }
            xmlHTTP.open("POST", `/handleExistedUser?username=${username}`, true);
            xmlHTTP.send();

            return !checked;
        }
    </script>
</div>
