<div class="container-fluid">
    <h3>Nhập thông tin tour</h3>
    <form action="/manage/tour">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Mã tour</label>
                <input type="text" class="form-control" name="tourId" required>
            </div>

            <div class="col-md-6 mb-3">
                <label>Tên tour</label>
                <input type="text" class="form-control" name="tourName" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Giá tour</label>
                <input type="text" class="form-control" name="tourPrice" required>
            </div>
            <div class="col-md-3 mb-3">
                <label>Số lượng khách tối đa</label>
                <select class="custom-select" name="maxTourist" required>
                  <option>25 người</option>
                  <option>30 người</option>
                  <option>35 người</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label>Số lượng khách tối thiểu</label>
                <select class="custom-select" name="minTourist" required>
                    <option>20 người</option>
                    <option>15 người</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Ngày đi</label>
                <input type="text" class="form-control" name="dateGo" placeholder="dd/mm/yyyy" required>
            </div>
            <div class="col">
                <label>Ngày về</label>
                <input type="text" class="form-control" name="dateBack" placeholder="dd/mm/yyyy" required>
            </div>
            <div class="col">
                <label>Giờ khởi hành</label>
                <input type="text" class="form-control" name="timeGo" placeholder="hh:mm:ss" required>
            </div>
            <div class="col">
                <label>Địa điểm xuất phát</label>
                <select class="custom-select" name="destStart" required>
                    <option>...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Địa điểm tham quan</label>
                <select class="custom-select" name="touristDest" multiple required>
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea class="form-control" name="description" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <input class="btn btn-info" type="submit" value="Thêm">
                <input class="btn btn-info" type="submit" value="Xóa">
                <input class="btn btn-info" type="submit" value="Sửa">
            </div>
        </div>
    </form>

    <table id="dataGrid" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Mã tour</th>
                <th scope="col">Tên tour</th>
                <th scope="col">Giá tour</th>
                <th scope="col">Ngày đi</th>
                <th scope="col">Ngày về</th>
                <th scope="col">Giờ khởi hành</th>
                <th scope="col">Địa điểm xuất phát</th>
                <th scope="col">Địa điểm tham quan</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Chọn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td><input type="checkbox"/></td>
            </tr>
        </tbody>
    </table>
</div>
