<div class="container-2">
    <div>
        <div class="menu">
            <ul>
                <li><a href="/manage/tour">Thêm tour</a></li>
                <li><a href="/manage/editTour">Sửa tour</a></li>
                <li><a href="/manage/deleteTour">Xóa tour</a></li>
            </ul>
        </div>
        <div id="tourInfo">
            <h3>Danh sách tour</h3>
            <table border="1">
                <tr>
                    <th>Mã tour</th>
                    <th>Tên tour</th>
                    <th>Thời gian đi</th>
                    <th>Thời gian về</th>
                    <th>Số  lượng khách</th>
                    <th>Địa điểm xuất phát</th>
                    <th>Mô tả</th>
                </tr>
                <tr>
                    <td>123</td>
                    <td>abc</td>
                    <td>01/01/2020</td>
                    <td>04/01/2020</td>
                    <td>30</td>
                    <td>TP.HCM</td>
                    <td>abc</td>
                </tr>
            </table>
        </div>
    </div>
</div>
