<div id="container-1">
    <h1 id="title">Booking</h1>
    <table id="content">
        <tr>
            <td>
                <i class="material-icons">home</i>
                <a href="/manage">Trang chủ</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">add_location</i>
                <a href="/manage/listDest">Địa điểm</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">flight</i>
                <a href="/manage/listTour">Tours</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">create</i>
                <a href="#">Bài viết</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">payment</i>
                <a href="#">Quản lý đặt tour</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">sms</i>
                <a href="#">Quản lý bình luận</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="material-icons">person</i>
                <a href="#">Quản lý khách hàng</a>
            </td>
        </tr>
    </table>
</div>
