<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Tour Booking</div>
    <div class="list-group list-group-flush">
        <a href="/manage/dest" class="list-group-item list-group-item-action bg-light">Địa điểm</a>
        <a href="/manage/tour" class="list-group-item list-group-item-action bg-light">Tour</a>
        <!-- <a href="/manage/post" class="list-group-item list-group-item-action bg-light">Bài viết</a> -->
        <a href="/manage/tourBooking" class="list-group-item list-group-item-action bg-light">Quản lý đặt tour</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Quản lý bình luận</a> -->
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Quản lý khách hàng</a> -->
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Quản lý liên hệ</a> -->
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Quản lý Admin</a> -->
    </div>
</div>
